<header class="bg-light-gray h-[50px] shadow">
    <div class="flex grid-rows-1 grid-cols-3 justify-center max-w-[1000px] m-auto h-[100%]">
        <div class="w-[25%]  inline-block align-middle">
            <h1 *ngIf="!smallWidth" class="md:text-2xl text-sm text-white text-left md:py-2 py-3.5">
                Firstova Ekaterina
            </h1>
        </div>
        <div class="md:w-[25%]">

        </div>
        <div class="w-[25%]">
            <h1 class="md:text-2xl text-sm text-white text-right md:py-2 py-3.5">
                P32131
            </h1>
        </div>
        <div class="w-[25%]">

        </div>
    </div>
</header>
