#graph{
  width: 300px;
  height: 300px;
  background-image: url("./graph.png");
  background-size: contain;
  border: solid 2px;
  border-color: black!important;
  margin-left: 600px;
}

@media (min-width: 891px){
  #graph{
    width: 500px;
    height: 500px;
    background-image:  url("./graph.png");
    border: solid 2px;
    border-color: black!important;
  }
}
span {
  margin-left: 600px;

}
