<div class="bg-light-gray h-[550px] max-w-[550px] shadow-md mx-auto md:mt-16 mt-8 overflow-hidden flex justify-center relative">

  <i class="pi pi-arrow-left absolute left-5 top-5 text-white" (click)="redirect('/')"></i>

  <div class="h-[50%] m-auto">

    <div class="field">
      <label for="sign-in-username" class="block text-white text-lg">Username</label>
      <!--        ng-invalid ng-dirty-->
      <input id="sign-in-username" type="username" aria-describedby="username2-help" class="" pInputText
             [(ngModel)]="username" maxlength="20"/>
      <small id="sign-in-username-help" class="p-error block h-3">
        <span *ngIf="usernameIsShort">Cannot be empty!</span>
      </small>
    </div>

    <div class="field mt-5">
      <label for="sign-in-password" class="block text-white text-lg">Password</label>
      <input id="sign-in-password" type="password" aria-describedby="username2-help" class="" pInputText
             [(ngModel)]="password" maxlength="20"/>
      <small id="sign-in-password-help" class="p-error block h-3"><span *ngIf="passwordIsShort">Cannot be empty!</span></small>
    </div>

    <div class="w-[100%] flex justify-center">
      <button pButton pRipple type="button" label="Sign in" class="p-button-raised mt-8 text-xl"
              (click)="validateForm()" [routerLink]="['/main']"
      ></button>
    </div>

  </div>
</div>
