<div class="bg-light-gray h-[550px] max-w-[550px] shadow-md mx-auto md:mt-16 m-8 overflow-hidden">
    <div class="flex justify-center mt-40">
        <button pButton pRipple type="button" label="Sign in" class="p-button-raised w-[50%] text-5xl pb-5"
                (click)="redirect('/login')"
        ></button>
    </div>
    <div class="flex justify-center mt-16">
        <button pButton pRipple type="button" label="Sign up" class="p-button-raised w-[50%] text-5xl pb-5"
                (click)="redirect('/register')"
        ></button>
    </div>
</div>
