html, body { height: 100%;
  background: #c6fff5;
}


.index {
  background: #c6fff5;
  min-height: 100%;
  font-family: 'Comfortaa', cursive;
  padding: 5px 20px;
  width: 100%;
}

#x-input, #y-input {
}

.title{
  color: aliceblue;
  text-decoration: none;
}

.button {
  align-self: center;
  margin: 0.75em 2vh 0;
  padding: 3.5vh 10vh;
  border-radius: 10vh;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}
.button:hover {
  background-color: #ffaed9;
}
