<div class="table" id="point-table">
    <table class="answer_table">
        <tr>
            <th>x</th>
            <th>y</th>
            <th>r</th>
            <th class="last-cell">result</th>
        </tr>
        <tr *ngFor="let point of points">
            <td>{{point.x | number:'.0-3'}}</td>
            <td>{{point.y | number:'.0-3'}}</td>
            <td>{{point.r}}</td>
            <td>{{point.result?"+":"-"}}</td>
        </tr>
    </table>
<!--    <button type="button" id="clear" (click)="clear()">clear</button>-->
    <button type="button" id="back"   [routerLink]="['/']">back</button>

</div>
