#back, #clear {
  align-self: center;
  border-radius: 5vh;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  margin-left: 10px;

}
#point-table {
  width: 100%;
  letter-spacing: 3px;
  margin-top: -350px !important;

}

#point-table th, #point-table td{
  text-align: center;
  width: 15%;
  margin-right: 20%;
}

#point-table tr{
  height: 32px;   background-color:  #ffaed9;

}

.table {
  height: 400px;
  overflow-y:auto;

}

table.answer_table {
  text-align: center;
  margin: auto;
  font-weight: 300;
  color: black;
  border: 10px;
  background-color:  #ffaed9;

}


table.answer_table  thead th {
  width: 100px;
  background-color:  #ffaed9;

}

table.answer_table  tbody tr:nth-child(1n) {
  background: rgb(233, 73, 57);
}

table.answer_table tbody tr:nth-child(2n) {
  background: rgba(233, 73, 57,0.5);
}

table.answer_table tr td {
  border-right: 1px solid #dfdfdf;
}

.tdScroll {
  width:65px;
  overflow:auto;
  text-align: center;
  margin:0 auto;
}

.tdScroll::-webkit-scrollbar-track , ::-webkit-scrollbar-track{
  background-color: rgba(13, 0, 60, 0.17);
  box-shadow:1px 1px 3px #ffcde8 inset;
  margin: 3px;

}

.tdScroll::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb {
  background-color: rgb(233, 73, 57);
}

.tdScroll::-webkit-scrollbar , ::-webkit-scrollbar {
  height: 6px;
}

