#submit {
  align-self: center;
  border-radius: 5vh;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  margin-left: 10px;
}



form {
  margin-top: 17%;
  padding: 10px 15px;
  width: 310px;
  min-height: 310px;
  margin-left: 50px;
}

.x-value, .y-value, .r-value {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    border-radius: 5px;
    background: blue;
    color: pink;



}
