.submit, .back, .clear {
    align-self: center;
    margin: 0.75em 2vh 0;
    padding: 1.5vh 5vh;
    border-radius: 5vh;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border: 2px solid rgba(0, 0, 0, 0);
  background-color:  #ffaed9;

  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  }


.submit:hover, .back:hover, clear:hover {
  background-color: palevioletred;

}

form {
  margin-top: 17%;

  width: 310px;
  min-height: 310px;
  margin-left: 50px;
}

.x-value, .y-value, .r-value {
  height: 70px;
  width: 250px;
  font-size: 20px;
}




